#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,182,251,1) 50%, rgba(0,0,0,1) 100%);
} 

.card {
  padding: 2em;
}
